# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: e0a8d151d6ec63e4e7cac8a14a8cb5a19ed82896234f8e3ec0cf44c4d6a8b1abe8f379bed7fff1ecbf41a150649037a550fcaaff32fe4612c265d21320f810b7

test:
  secret_key_base: 0af91b3fe15c5c52d2ef9fd41ac9a11d25d832ff3c16de13b91686b732bd9d4ae24fbe40c85fb95671d23afba0a23207c1b17f70ea3cc3557e648ebd657f6fb4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
